*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #46B2E0;
}
.header{
    margin: 20px;
    display: flex;
    justify-content: center;
    
}
.header h1{
    font-family: sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(59, 56, 56);
}
.timer{
    padding: 15px;
    font-size: 50px;
    border: 2px solid rgb(22, 21, 22);
    border-radius: 10px;
}
.container{
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.btn-container{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
button{
    font-size: 15px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}
button:hover{
    cursor: pointer;
    background-color: rgb(75, 73, 73);
    border-radius: 7.5px;
}